@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.nav-container {
  padding: 1em;
  background: rgb(255, 74, 74);
  width: 17%;
  text-align: center;
}

.heading {
  color: rgb(61, 61, 61);
  font-weight: bold;
}

.gen-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nav-btn {
  padding: 1em 2em;
  border: none;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  color: rgb(61, 61, 61);
  font-weight: bold;
}

.nav-btn:hover,
.nav-btn:focus {
  background: rgba(255, 255, 255, 0.445)
}

.pokedex-container {
  background: rgb(255, 74, 74);
  width: 83%;
  display: flex;
  align-items: center;
}

.pokedex {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: rgb(228, 228, 228);
  border-radius: 10px;
  border: rgb(94, 94, 94) solid 15px;
}